{% extends "microInvestment/layout.html" %}

{% block content %}
    <main>
        <div class="container">
            <section>
                <h3 class="h3 text-center mb-5" style="margin-top: 20px">User answers</h3>
                <div style="padding: 10px ">
                    <div class="row animated fadeIn">
                        <h1>{{ user }}</h1>
                        <div id="poll-log" class="col-lg-12 col-md-12 px-4">
                            {% for answer in answers %}
                                <p>Question:{{ answer.answer.question.text }}</p>
                                <p>User answer:{{ answer.text }}</p>
                                {% if answer.answer.category %}
                                    <p>Category: {{ answer.answer.category.name }} | {{ answer.answer.category.value }}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
