{% extends "microInvestment/layout.html" %}

{% block content %}
    <main>
        <div class="container">
            <section>
                <h3 class="h3 text-center mb-5">Categories</h3>
                <div style="padding: 10px ">
                    <div class="row animated fadeIn">
                        <div class="col-lg-12 col-md-12 px-4">
                            {% for category in categories %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-12">
                                        <a href="{% url "show-category" category.pk %}">
                                            Category:{{ category.name }}
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-12">
                                        Number of users: {{ category.num_users }}
                                    </div>
                                    <div class="col-lg-3 col-md-12">
                                        Amount given: {{ category.value }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}