{% extends "microInvestment/layout.html" %}

{% block content %}
    <main>
        <div class="container">
            <section>
                <h3 class="h3 text-center mb-5" style="margin-top: 20px">Category</h3>
                <div style="padding: 10px ">
                    <div class="row animated fadeIn">
                        <h1>{{ category }}</h1>
                        <div class="col-lg-12 col-md-12 px-4">
                            <table class="table">
                                {% for answer in answers %}
                                    {% if forloop.first %}
                                        <thead>
                                        <tr>
                                            {% for k,v in answer.items %}
                                                <th scope="col">{{ k | capfirst }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                    {% endif %}
                                    <tr>
                                        {% for k,v in answer.items %}
                                            <td>{{ v }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

