{% extends "microInvestment/layout.html" %}
{% block styles %}
    <style type="text/css">
        /* Necessary for full page carousel*/
        .video-intro {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -100;
        }

        .text-wrapper {
        {#position: fixed;#}{#    bottom: 0;#}{#    background: rgba(0, 0, 0, 0.5);#} color: #f1f1f1;
            width: 100%;
            min-height: 100%;
            padding: 20px;
        }


        @media (max-width: 850px) {
            .video-intro {
                display: none;
            }

        }

    </style>
{% endblock %}
{% load i18n %}
{% block content %}
    <!--Video Wrapper-->
    <div class="video-wrapper">
        <video class="video-intro" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4"/>
        </video>
    </div>
    <!--Text-->
    <div class="text-wrapper rgba-black-light d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
                <strong>{% trans "MICROFINANCING SCREENING" %}</strong>
            </h1>
            <p>
                <strong>
                    You will now take part of an experiment about microfinancing. All of the data
                    collected will only be used for academic purposes of the Subject “Teamprojekt -
                    Webapplikation“ from the Universität Bayreuth.
                    If you choose to take part of the experiment you will hypothetically receive an
                    amount of money for an investment of your own.
                </strong>
            </p>
            <p>
                <strong>Since the amount offered will probably be lower that you expect, please think of
                    it as if you were really able to go through with your investment."
                </strong>
            </p>
            <a href="{% url "poll" %}"
               class="btn btn-outline-white btn-lg">{% trans "Start" %}
                <i class="fa fa-graduation-cap ml-2"></i>
            </a>
        </div>

    </div>

{% endblock %}