<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MicroInvestment Project</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static "css/mdb.min.css" %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    {% block styles %}

    {% endblock %}
</head>

<body>


{% block content %}
    <main>
        <!--Main layout-->
    </main>
{% endblock %}


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
<!-- Initializations -->
{% block javascript %}

{% endblock %}
{#<script type="text/javascript">#}
{#    // Animations initialization#}
{#new WOW().init();#}
{#</script>#}
</body>

</html>
