{% extends "microInvestment/layout.html" %}
{% load i18n %}

{% block content %}
    <main>
        <div class="container">
            <!--Section: Main features & Quick Start-->
            <section>
                <h3 class="h3 text-center mb-5">{% trans "We have some questions for you" %}</h3>
                <!--Grid row-->
                {#            <div style="background-color: #ececec; padding: 10px ">#}
                <div style="padding: 10px ">
                    <div class="row animated fadeIn">
                        <!--Grid column-->
                        <div id="poll-log" class="col-lg-12 col-md-12 px-4">
                            <!--First row-->
                            {% include "microInvestment/question_section.html" %}
                            <!--/First row-->
                        </div>
                        <!--/Grid column-->
                    </div>
                </div>
                <!--/Grid row-->
            </section>
            <!--Section: Main features & Quick Start-->
        </div>
    </main>

{% endblock %}