{% load i18n %}
<div class="row animated fadeInDown">
    <div class="col-12" style="height:30px"></div>
    <div class="col-1 mr-3">
        <i class="fa fa-user fa-2x indigo-text"></i>
    </div>
    <div class="col-10">
        <h5 class="feature-title">{{ question.text }}</h5>
        {% if answers.count > 0 %}
            {% for answer in answers %}
                {% if answer.text == "" %}
                    <div class="md-form">
                        <input placeholder="{% trans "Answer" %}" type="text" id='answer-{{ answers.first.pk }}'
                               class="form-control">
                    </div>
                    <button class="btn btn-primary btn-small" id='answer_button-{{ answers.first.pk }}'
                            onclick=processAnswer("answer-{{ answers.first.pk }}",{{ answers.first.pk }})>
                        OK
                    </button>
                {% elif answer.text == "#number" %}
                    <input class="form-control" id='answer-{{ answers.first.pk }}' type="number"
                           placeholder="" max="300" min="0">
                    <button class="btn btn-primary btn-small" id='answer_button-{{ answers.first.pk }}'
                            onclick=processAnswer("answer-{{ answers.first.pk }}",{{ answers.first.pk }})>
                        OK
                    </button>
                {% else %}
                    <button class="btn btn-primary btn-small" id='answer-{{ answer.pk }}'
                            onclick=processAnswer("answer-{{ answer.pk }}",{{ answer.pk }},"{{ answer.text }}")>
                        {{ answer.text }}
                    </button>
                {% endif %}
            {% endfor %}
        {% else %}
            <a href="{% url "home" %}" class="btn btn-primary btn-small">
                {% trans "OK" %}
            </a>
        {% endif %}
    </div>
</div>
