{% extends "microInvestment/layout.html" %}

{% block content %}
    <main>
        <div class="container">
            <section>
                <h3 class="h3 text-center mb-5" style="margin-top: 20px">Poll users</h3>
                <div style="padding: 10px ">
                    <div class="row animated fadeIn">
                        <div id="poll-log" class="col-lg-12 col-md-12 px-4">
                            {% for user in users %}
                                <p><a href="{% url "show-user" user.pk %}">
                                    User:{{ user.username }}
                                </a></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
