/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
}
html {
  position: relative;
  min-height: 100%;
}
main {
  padding-top: 20px;
}
.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331;
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 100px; /* Set the fixed height of the footer here */
  /*line-height: 60px; /* Vertically center the text there */
}
